<div>
    <div class=" row">
        <div class="add-post">
            <form [formGroup]="postForm" class="custom-border p-2 m-1 mt-4 white-background" (ngSubmit)="Post(postForm)">
                <div class="form-group">
                    <input class="form-control post-input" type="text" formControlName="text" id="text"
                      #postText  placeholder="Whats on your mind ??" (keypress)="textUpload()" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="image" class="image-upload blue"><i class="far fa-images fa-2x"></i></label>
                    <input class="form-control" type="file" formControlName="image" id="image" accept="image/*"
                        (change)="onUpload($event)" hidden >
                </div>
                <div class="post" *ngIf="postPreview">
                    <h5>Post Preview</h5>
                    <img *ngIf="imagePreview" class="post-image border" [src]="imgUrl">
                    <p *ngIf="text">{{text?.value}}</p>
                    <div class="center-align">
                        <button style="border: 0;" type="submit" class="btn btn-outline-primary"><i class="far fa-check-circle fa-2x"></i></button>
                        <button style="border: 0;" class="btn btn-outline-danger" (click)="CancelPost()"><i class="far fa-times-circle fa-2x"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngFor="let post of postsResponse.posts ; let i = index;">
        <div class="post custom-border white-background">
            <img [src]="post.avatar" class="profile-avatar">
            <p ><b>{{post.username}}</b></p>
            <img *ngIf="post.image" class="post-image border" [src]="post.image">
            <p>{{post.text}}</p>
            <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button class="btn btn-md btn-outline-primary m-1" style="border: 0;" (click)="like(post)">
                        <i class="far fa-thumbs-up" style="font-size: 1.5rem;"> </i> <span> {{post.likes}}</span> 
                    </button>    
                    <button class="btn btn-sm btn-outline-primary m-1" style="border: 0;" (click)="toggleComment(post)">
                        <i class="far fa-comment-dots" style="font-size: 1.5rem;"></i>
                    </button>
                </div>
            </div>
            <div class="row" *ngIf="post.viewComments">
                <div class="row" *ngIf="post.comments.length >0">
                    <div *ngFor="let comment of post.comments">
                        <img [src]="comment.avatar" class="profile-avatar">
                        <p><b>{{comment.username}}</b>  {{comment.text}}</p>
                    </div>
                </div>
                <div class="row" style="padding-right: 0; margin-top: 2%; margin-bottom: 2%;">
                    <form [formGroup]="commentForm" (ngSubmit)="addComment(commentForm , post)" style="padding-right: 0;">
                        <div class="form-group" style="width: 100%;">
                            <input class="form-control" type="text" formControlName="text" id="text"
                                placeholder="Add a comment" autocomplete="off">
                        </div>
                        <button class="btn btn-outline-primary comment-button" type="submit" [disabled]="commentForm.invalid">
                            <i class="fas fa-plus"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div> 
        <div *ngIf="i == postsResponse.posts.length - 1 && !postsResponse.isLastPost" class="center-align">
            <button class="btn btn-sm" (click)="loadNextPosts(postsResponse.posts[i].postId)"><i class="fas fa-angle-double-down"></i> More</button>
        </div>
    </div>
</div>


