p{
    margin-top: 1%;
    margin-bottom: 1%;
}
.post{
    margin: 2%;
    width: 96%;
}
.image-upload{
    float: right;
    margin-right: 10px;
    margin-top: -33px;
    position: relative;
    z-index: 2;
}

.preview-post-button
{
    float: right;
}

.cancel-post-button
{
    float: right;
}

.post-image
{
    width: 100%;
    height: 300px;
} 
.post-input{
    padding-right: 15%;
}

.profile-avatar{
    width: 30px;
    height:30px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 1%;
    float: left;
}
.comment-button{
    float: right;
    margin-top: -37px;
    position: relative;
    z-index: 2;
    border: 0;
}