<div class="full-height">
<div class="login">
    <h3 >Login</h3>
    <form [formGroup]="form" (ngSubmit)="Login(form)">
        <div *ngIf="! isUsernameValid" class="alert alert-danger">
            Invalid User Id.
        </div>
        <div *ngIf="! isPasswordValid" class="alert alert-danger">
            Invalid Password.
        </div>
        <div class="form-group">
            <label for="username">Username :</label>
            <input class="form-control" type="text" formControlName="username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password :</label>
            <input class="form-control" [type]="showPassword?'text':'password'" formControlName="password" id="password" autocomplete="off">
            <i class="far fa-eye field-icon" id="togglePassword" (click)="togglePasswordDisplay()"></i>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
    </form>
</div>
</div>