.login{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: solid black 2px;
    border-radius: 2%;
    color: white;
    padding: 2%;
    background: rgba(0,0,0,0.5);
}
.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #000;
  }