<nav class="navbar navbar-expand-lg navbar-light bg-light nav-shadow sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand blue logo" href="#">CII Forum</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="nav-link logout-button" (click)="Logout()"><i class="fas fa-power-off blue fa-2x"></i></a>
      </div>
    </div>
  </nav>

<div class="row main-area">
    <div class="col-lg-3 col-md-3 full-height center-align">
      <div class="dashboard"> 
        <div class="sticky">
          <img [src]="data.user == undefined?'/assets/profile.png':data.user['picture']" class="dashboard-avatar">
          <h4 class="p-3">Welcome {{data.user == undefined?'User':data.user["username"]}}</h4>
                <button 
                class="btn btn-lg dashboard-button"
                (click)="setWindow('default')"  
                ><i class="fas fa-home m-2" style="color: #900C3F;"></i> Home</button>
                <button 
                class="btn btn-lg dashboard-button"  
                (click)="setWindow('profile')"
                ><i class="fas fa-user m-2" style="color: #FF9F45;"></i> Profile</button>
                <button 
                class="btn btn-lg dashboard-button"  
                (click)="setWindow('posts')"
                ><i class="fas fa-image m-2" style="color: #368B85;"></i> Posts</button>
                <button 
                class="btn btn-lg dashboard-button"
                (click)="Logout()"  
                >
                <i class="fas fa-power-off m-2" style="color: #FC4F4F;"></i> Logout</button>
            </div>
      </div>
    </div> 
    <div class="col-lg-6 col-md-6 custom-border blue-background">
        <default *ngIf="window == 'default'"></default>
        <profile *ngIf="window == 'profile'" [(userData)] = "data"></profile>
        <posts *ngIf="window == 'posts'"></posts>
    </div>
    <div class="col-lg-3 col-md-3 full-height">
      <div class="column3 full-height">
        <div class="sticky">
          <h6 class="center-align">Members</h6>
        <div class="members" >
            <div class="border" *ngFor="let member of members.users|slice:0:show let i=index "> 
                <img [src]="members.users[i].picture" class="member-avatar"> 
                <p class="members-p">{{members.users[i].username}}</p>
                <div class="center-align">
                  <button class="btn btn-sm" *ngIf="i==4 && show == 5" (click)="show = members.users.length">
                    <i class="fas fa-angle-double-down"></i> More</button>
                </div>
                <div class="center-align">
                  <button class="btn btn-sm" *ngIf="i==members.users.length-1 && show == members.users.length" (click)="show = 5">
                    <i class="fas fa-angle-double-up"></i> Less</button>
                </div>
            </div>
        </div>
        <div class="thoughts center-align">
            <h6>Thought of the day</h6>   
            <img src="/assets/Thought.jpg" class="thoughts-img">
        </div>
        </div>
      </div>
    </div>
</div>

