.nav-shadow
{
    box-shadow: 0 0 10px 2px grey;
    height: 9%;
}
.logo{
    font-size: 1.5rem;
}

.icons{
    margin-left:50px;
}
.margin
{
    margin-left:33% ;
}
.logout-button
{
    margin-left: auto;
}
.main-area
{
    height: 91%;
}
.dashboard-avatar
{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin-top: 4%;
    margin-bottom: 4%;
}

.dashboard-button
{
    margin-top: 2%;
    width: 80%; 
    border: 0;
    font-size: 1.2rem;
    transition: 0.3s;
    transition-timing-function: ease;
} 

.dashboard-button:hover{
    border: 4px solid #dee2e6;
}
.dashboard{
    position: absolute;
    top:9%; 
    width: inherit;
    padding: inherit;
    height: inherit;
}
.sticky
{
    position: sticky;
}
.column3
{
    position: absolute;
    top:9%;
}
.members{
    width: 100%;
    height: 35%;
    overflow-y: scroll;
}
.members-p{
    margin-top: 2%;
    margin-bottom: 2%;
}
.member-avatar{
    width: 30px;
    height:30px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 1%;
    margin-right: 5%;
    float: left;
}
.thoughts
{
    width: 100%;
    height: 65%;
}
.thoughts-img
{
    width: 100%;
    height: 95%;
}