<div class="signup">
    <h3 class="center">Sign Up</h3>
    <div class="center">
        <img class="profile-preview" [src]="imgUrl" height="120" width="120">
    </div>
    <form [formGroup]="form" (ngSubmit)="SignUp(form)">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="name" class="required">Name :</label>
                    <input type="text" class="form-control" formControlName="name" id="name" autocomplete="off">
                    <br *ngIf="name?.invalid && name?.touched">
                    <div class="alert alert-danger" *ngIf="name?.invalid && name?.touched">
                        <div *ngIf="name?.errors?.['required']">Name is a required field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone :</label>
                    <input type="text" formControlName="phone" class="form-control" id="phone" maxlength="10" minlength="10" autocomplete="off">
                    <br *ngIf="phone?.invalid && phone?.touched">
                    <div class="alert alert-danger" *ngIf="phone?.invalid && phone?.touched">
                        <div *ngIf="phone?.errors?.['maxLength']?.['actualLength'] >10">Phone Number should have 10 characters</div>
                        <div *ngIf="phone?.errors?.['minLength']?.['actualLength'] <10">Phone Number should have 10 characters</div>
                        <div *ngIf="phone?.errors?.['pattern']">Phone Number should have numbers only.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="required">Email :</label>
                    <input type="email" formControlName="email" id="email" class="form-control" autocomplete="off">
                    <br *ngIf="email?.invalid && email?.touched">
                    <div class="alert alert-danger" *ngIf="email?.invalid && email?.touched">
                        <div *ngIf="email?.errors?.['email']"> Please enter a valid Email</div>
                        <div *ngIf="email?.errors?.['required']">Email is a required field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob" class="required">Date Of Birth :</label>
                    <input type="date" formControlName="dob" id="dob" class="form-control" [max]="today" autocomplete="off">
                    <br *ngIf="dob?.invalid && dob?.touched">
                    <div class="alert alert-danger" *ngIf="dob?.invalid && dob?.touched">
                        <div *ngIf="dob?.errors?.['required']">DOB is a required field</div>
                        <div *ngIf="dob?.errors?.['cannotSetToFutureDate']">Enter a valid DOB</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="username" class="required">Username :</label>
                    <input class="form-control" type="text" class="form-control" formControlName="username"
                        id="username" (keyup)="ValidateUsername($event)" autocomplete="off">
                    <br *ngIf="!isUsernameAvailable || (username?.invalid && username?.touched)">
                    <div class="alert alert-danger" *ngIf="!isUsernameAvailable || (username?.invalid && username?.touched)">
                        <div *ngIf="!isUsernameAvailable">this username is already registered.</div>
                        <div *ngIf="username?.errors?.['required']">Username is a required field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="required">Password :</label>
                    <input [type]="showPassword?'text':'password'" formControlName="password" id="password" class="form-control" autocomplete="off">
                    <i class="far fa-eye field-icon" id="togglePassword" (click)="togglePasswordDisplay()"></i>
                    <br *ngIf="password?.invalid && password?.touched">
                    <div class="alert alert-danger" *ngIf="password?.invalid && password?.touched">
                        <div *ngIf="password?.errors?.['required']">Password is a required field</div>
                        <div *ngIf="password?.errors?.['minLength']?.['actualLength'] <8">Password should have minimum 8 characters</div>
                        <div *ngIf="password?.errors?.['pattern']">Password must contain at least one UpperCase ,
                            LowerCase ,
                            Special character and Number</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="picture">Profile Picture :</label>
                    <input class="form-control" type="file" formControlName="picture" id="picture" accept="image/*"
                        (change)="onUpload($event)" autocomplete="off">
                </div>
                <button class="btn btn-primary" style="margin-top:5%;" type="submit"
                    [disabled]="form.invalid">Signup</button>
            </div>
        </div>
    </form>
</div>