.row
{
    margin:2.5%
}
.signup
{
    border: 2px solid black;
    border-radius: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: rgba(0,0,0,0.5);
}

.center
{
    text-align: center;
    align-items: center;
}

.profile-preview
{
    border-radius: 50%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #000;
  }
  