<h1 class="center-align">Posts</h1>
<div *ngIf="isEmpty">
    <h3 class="center-align alert alert-warning">Oops! You have not made any posts yet</h3>    
</div>
<div class="row" *ngFor="let post of postsResponse.posts ; let i = index;">
    <div class="post custom-border white-background">
        <img [src]="post.avatar" class="profile-avatar">
        <p ><b>{{post.username}}</b></p>
        <img *ngIf="post.image" class="post-image border" [src]="post.image">
        <p>{{post.text}}</p>
        <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button class="btn btn-md btn-outline-primary m-1" style="border: 0;" (click)="like(post)">
                    <i class="far fa-thumbs-up" style="font-size: 1.5rem;"> </i> <span> {{post.likes}}</span> 
                </button>    
                <button class="btn btn-sm btn-outline-primary m-1" style="border: 0;" (click)="toggleComment(post)">
                    <i class="far fa-comment-dots" style="font-size: 1.5rem;"></i>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="post.viewComments">
            <div class="row" *ngIf="post.comments.length >0">
                <div *ngFor="let comment of post.comments">
                    <img [src]="comment.avatar" class="profile-avatar">
                    <p><b>{{comment.username}}</b>  {{comment.text}}</p>
                </div>
            </div>
            <div class="row" style="padding-right: 0; margin-top: 2%; margin-bottom: 2%;">
                <form [formGroup]="commentForm" (ngSubmit)="addComment(commentForm , post)" style="padding-right: 0;">
                    <div class="form-group" style="width: 100%;">
                        <input class="form-control" type="text" formControlName="text" id="text"
                            placeholder="Add a comment" autocomplete="off">
                    </div>
                    <button class="btn btn-outline-primary comment-button" type="submit" [disabled]="commentForm.invalid">
                        <i class="fas fa-plus"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>