.profile-pic
{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
.image-upload{
    float: right;
    margin-right: 39%;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
}
.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #000;
  }