<div>
    <h3 class="center-align">Profile</h3>
    <form [formGroup]="updateForm" (ngSubmit)="Update(updateForm)">
        <div class="center-align">
            <img class="profile-pic" [src]="imgUrl">
        </div>
        <div class="form-group">
            <label for="picture" class="image-upload"><i class="fas fa-plus-circle fa-2x"></i></label>
            <input class="form-control" type="file" formControlName="picture" id="picture" accept="image/*"
                (change)="onUpload($event)" hidden >
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="name">Name :</label>
                    <input type="text" class="form-control" formControlName="name" id="name" autocomplete="off">
                    <br *ngIf="name?.invalid && name?.touched">
                    <div class="alert alert-danger" *ngIf="name?.invalid && name?.touched">
                        <div *ngIf="name?.errors?.['required']">Name cannot be empty</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone :</label>
                    <input type="text" formControlName="phone" class="form-control" id="phone" autocomplete="off" maxlength="10">
                    <br *ngIf="phone?.invalid && phone?.touched">
                    <div class="alert alert-danger" *ngIf="phone?.invalid && phone?.touched">
                        <div *ngIf="phone?.errors?.['maxLength']?.['actualLength'] > 10">Phone Number should have 10 characters</div>
                        <div *ngIf="phone?.errors?.['minLength']?.['actualLength'] < 10">Phone Number should have 10 characters</div>
                        <div *ngIf="phone?.errors?.['pattern']">Phone Number should have numbers only.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" formControlName="email" id="email" class="form-control" autocomplete="off">
                    <br *ngIf="email?.invalid && email?.touched">
                    <div class="alert alert-danger" *ngIf="email?.invalid && email?.touched">
                        <div *ngIf="email?.errors?.['required']">Email cannot be empty.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="dob">Date Of Birth :</label>
                    <input type="date" formControlName="dob" id="dob" class="form-control" [max]="today" autocomplete="off">
                    <br *ngIf="dob?.invalid && dob?.touched">
                    <div class="alert alert-danger" *ngIf="dob?.invalid && dob?.touched">
                        <div *ngIf="dob?.errors?.['cannotSetToFutureDate']">DOB cannot be a future date</div>
                        <div *ngIf="dob?.errors?.['required']">Date of birth cannot be empty.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username :</label>
                    <input class="form-control" type="text" class="form-control" formControlName="username"
                        id="username" (keyup)="ValidateUsername($event)" autocomplete="off">
                    <br *ngIf="!isUsernameAvailable">    
                    <div class="alert alert-danger" *ngIf="!isUsernameAvailable">
                        this username is already registered.
                    </div>
                    <br *ngIf="username?.invalid && username?.touched">
                    <div class="alert alert-danger" *ngIf="username?.invalid && username?.touched">
                        <div *ngIf="username?.errors?.['required']">Username cannot be empty.</div>
                    </div>
                </div> 
                <button class="btn btn-outline-primary" style="margin-top:5%;" type="submit"
                    [disabled]="updateForm.invalid || updateForm.pristine" ><i class="fas fa-edit"></i></button>
            </div>
        </div>
    </form>

    <br>
    <h5 class="center-align">Change Password </h5>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="oldPassword" class="required">Old Password :</label>
                    <input [type]="showOldPassword?'text':'password'" class="form-control" formControlName="oldPassword" id="oldPassword" autocomplete="off">
                    <i class="far fa-eye field-icon" id="togglePassword" (click)="toggleOldPasswordDisplay()"></i>
                    <br *ngIf="(oldPassword?.invalid && oldPassword?.touched) || !isPasswordChanged">
                    <div class="alert alert-danger" *ngIf="(oldPassword?.invalid && oldPassword?.touched) || !isPasswordChanged">
                        <div *ngIf="oldPassword?.errors?.['required']">Old Password cannot be empty.</div>
                        <div *ngIf="!isPasswordChanged">Incorrect Password</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword" class="required">New Password :</label>
                    <input [type]="showNewPassword?'text':'password'" class="form-control" formControlName="newPassword" id="newPassword" autocomplete="off">
                    <i class="far fa-eye field-icon" id="togglePassword" (click)="toggleNewPasswordDisplay()"></i>
                    <br *ngIf="newPassword?.invalid && newPassword?.touched">
                    <div class="alert alert-danger" *ngIf="newPassword?.invalid && newPassword?.touched">
                        <div *ngIf="newPassword?.errors?.['required']">Password cannot be empty.</div>
                        <div *ngIf="newPassword?.errors?.['minLength']?.['actualLength'] <8">Password should have minimum 8 characters</div>
                        <div *ngIf="newPassword?.errors?.['pattern']">Password must contain at least one UpperCase ,
                            LowerCase ,
                            Special character and Number</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="reEnterPassword" class="required">Re-enter Password :</label>
                    <input [type]="showReEnteredPassword?'text':'password'" class="form-control" formControlName="reEnterPassword" id="reEnterPassword" autocomplete="off" (keyup)="matchPasswords(changePasswordForm)">
                    <i class="far fa-eye field-icon" id="togglePassword" (click)="toggleReEnteredPasswordDisplay()"></i>
                    <br *ngIf="(reEnterPassword?.invalid && reEnterPassword?.touched) || !isPasswordMatched">
                    <div class="alert alert-danger" *ngIf="(reEnterPassword?.invalid && reEnterPassword?.touched) || !isPasswordMatched">
                        <div *ngIf="reEnterPassword?.errors?.['required']">Password cannot be empty.</div>
                        <div *ngIf="!isPasswordMatched">Entered passwords don't match</div>
                    </div>
                </div>
                <button class="btn btn-outline-primary" style="margin-top:5%;" type="submit"
                    [disabled]="changePasswordForm.invalid || !isPasswordMatched" ><i class="fas fa-key"></i></button>
            </div>  
        </div>
    </form>
</div>