/* You can add global styles to this file, and also import other style files */
html,body{
    height:100%;
    overflow-x: hidden;
}

.custom-border {
    border: 2px solid #6d7ca9!important;
}
.white-background{
    background-color: white;
}
.blue-background{
    background-color: #d2ddf3;
}
html{
    overflow-y: hidden;
}
body{
    overflow-y: overlay;
}

.full-height{
    height: 100%;
}

.required:after {
    content:" *";
    color: red;
}
.center-align
{
    align-items: center;
    text-align: center;
}
.blue{
    color: #4267B2;
}
