.home{
    background-image: url("/assets/home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content{

    height: inherit;
    width: 100%;
    position: absolute;
    overflow-y: auto;
}
.blue
{
    background-color: #1A374D;
}
.pad-2
{
    padding-left: 2%;
    padding-right: 2%;
}
.form{
    margin-top:1%;
    margin-bottom: 1%;
}