<div class="home full-height">
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-dark blue sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Forum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#" (click)="ChangeFormType('login')">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" (click)="ChangeFormType('signup')">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="form full-height">
            <login *ngIf="formType == 'login'" class="full-height"></login>
            <signup *ngIf="formType == 'signup'" [(formType)] = "formType"></signup>
        </div>
    </div>
</div>